<div id="mainTop"> 
  <div id="frame">   
    <div id="photo1"><img src="/image/IMG_0807.JPG"></div>
    <div id="photo2"><img src="/image/IMG_0804.JPG"></div>
    <div id="photo3"><img src="/image/IMG_0805.JPG"></div>
    <div id="photo4"><img src="/image/IMG_0806.JPG"></div>
    <div id="photo6"><img src="/image/IMG_0808.JPG"></div>
  </div>
  <h1>Joyous Style Brothers</h1>

</div><!--aspslide-->
<div>
