<div class="mainHeader">
  <h1 class="title">JoyousStyleBrothers</h1>

</div>

<div id="main"> 
  <div id="frame">   
    <div id="photo1"><img src="/image/IMG_0807.JPG" width="1200" height: 800px;></div>
    <div id="photo2"><img src="/image/IMG_0804.JPG" width="1200" height: 800px;></div>
    <div id="photo3"><img src="/image/IMG_0805.JPG" width="1200" height: 800px;></div>
    <div id="photo4"><img src="/image/IMG_0806.JPG" width="1200" height: 800px;></div>
    <div id="photo6"><img src="/image/IMG_0808.JPG" width="1200" height: 800px;></div>
    <div id="photo7"><img src="/image/IMG_0801.JPG" width="1200" height: 800px;></div>
  </div>
  <div class="side">
    <div class="side__menu">
      <div class="side__home">Home</div>
      <div class="side__home">Activity</div>
      <div class="side__home">contact</div>
    </div>
  </div>


  

</div><!--aspslide-->
<div>
